page-regal {

}

.PlantName {
  color: #686767;
  height: 50px;
  width: 200px;
  display: block;
}

.Title{
  color: #686767;
}
.plant{
  padding: 0px 10px 0px 10px;
}
.aussen{
  padding: 5% 10% 10% 5%;
}
